In [1]:
cd ..

/Users/jisooryu/Projects/lease-version-reliability

In [2]:
import gc
from typing import Any

import numpy as np
import pandas as pd
import structlog

logger = structlog.get_logger()

In [11]:
from lease_version_reliability.data.database_io import get_reliable_data, get_labels, get_column_names
from lease_version_reliability.data.database import cs_mysql_instance as mysql
from lease_version_reliability.config.settings import settings

In [9]:
attributes = settings.ATTRIBUTES

await mysql.connect()
reliable_data = await get_reliable_data()
data = get_labels(reliable_data, attributes)

await mysql.disconnect()

2023-03-03 11:53:56 [info     ] Processed 25000/4017690
2023-03-03 11:54:43 [info     ] Processed 250000/4017690
2023-03-03 11:55:18 [info     ] Processed 500000/4017690
2023-03-03 11:55:46 [info     ] Processed 750000/4017690
2023-03-03 11:56:12 [info     ] Processed 1000000/4017690
2023-03-03 11:56:40 [info     ] Processed 1250000/4017690
2023-03-03 11:57:09 [info     ] Processed 1500000/4017690
2023-03-03 11:57:40 [info     ] Processed 1750000/4017690
2023-03-03 11:58:17 [info     ] Processed 2000000/4017690
2023-03-03 11:58:56 [info     ] Processed 2250000/4017690
2023-03-03 11:59:30 [info     ] Processed 2500000/4017690
2023-03-03 12:00:08 [info     ] Processed 2750000/4017690
2023-03-03 12:00:48 [info     ] Processed 3000000/4017690
2023-03-03 12:01:23 [info     ] Processed 3250000/4017690
2023-03-03 12:01:51 [info     ] Processed 3500000/4017690
2023-03-03 12:02:19 [info     ] Processed 3750000/4017690
2023-03-03 12:02:51 [info     ] Processed 4000000/4017690

INFO:snowflake.connector.connection:Snowflake Connector for Python Version: 3.0.0, Python Version: 3.9.10, Platform: macOS-13.2.1-arm64-arm-64bit
INFO:snowflake.connector.connection:This connection is in OCSP Fail Open Mode. TLS Certificates would be checked for validity and revocation status. Any other Certificate Revocation related exceptions or OCSP Responder failures would be disregarded in favor of connectivity.
INFO:snowflake.connector.connection:Setting use_openssl_only mode to False
INFO:snowflake.connector.cursor:query: [select s.id as submission_id, s.logo FROM LOGO_DETECTION.submission s;]
INFO:snowflake.connector.cursor:query execution done
INFO:snowflake.connector.cursor:Number of results in first chunk: 0

2023-03-03 12:02:58 [info     ] Calculating Labels: space_type_id
2023-03-03 12:02:58 [info     ] Calculating Labels: transaction_size
2023-03-03 12:02:58 [info     ] Calculating Labels: starting_rent
2023-03-03 12:02:58 [info     ] Calculating Labels: execution_date
2023-03-03 12:03:01 [info     ] Calculating Labels: commencement_date
2023-03-03 12:03:03 [info     ] Calculating Labels: lease_term
2023-03-03 12:03:03 [info     ] Calculating Labels: expiration_date
2023-03-03 12:03:05 [info     ] Calculating Labels: work_value
2023-03-03 12:03:05 [info     ] Calculating Labels: free_months
2023-03-03 12:03:05 [info     ] Calculating Labels: transaction_type_id
2023-03-03 12:03:05 [info     ] Calculating Labels: rent_bumps_percent_bumps
2023-03-03 12:03:05 [info     ] Calculating Labels: rent_bumps_dollar_bumps
2023-03-03 12:03:05 [info     ] Calculating Labels: lease_type_id

INFO:snowflake.connector.connection:closed
INFO:snowflake.connector.connection:No async queries seem to be running, deleting session
INFO:databases:Disconnected from database mysql://admin:********@localhost:3308/compstak

In [12]:
col_names_correct, col_names_filled, col_names_label = get_column_names(
    attributes,
)

In [17]:
data = reliable_data
name = 'submitter_person_id'
df_metrics = pd.DataFrame()
label = col_names_label
ids = list(data[name].unique())
if np.NaN in ids:
    ids.remove(np.NaN)
df_metrics[name] = ids

for col in label: 
    s_correct = data[data[col].isin([1])].groupby(name)[col].count()

    s_correct_dict = s_correct.to_dict()
    df_metrics[f"{col.replace('label', 'correct')}_{name}"] = (
        df_metrics[name].map(s_correct_dict).fillna(0)
    )

df_metrics

,submitter_person_id,space_type_id_correct_submitter_person_id,transaction_size_correct_submitter_person_id,starting_rent_correct_submitter_person_id,execution_date_correct_submitter_person_id,commencement_date_correct_submitter_person_id,lease_term_correct_submitter_person_id,expiration_date_correct_submitter_person_id,work_value_correct_submitter_person_id,free_months_correct_submitter_person_id,transaction_type_id_correct_submitter_person_id,rent_bumps_percent_bumps_correct_submitter_person_id,rent_bumps_dollar_bumps_correct_submitter_person_id,lease_type_id_correct_submitter_person_id
0,1,1917.0,1858.0,1747.0,1743.0,1716.0,1801.0,0.0,1782.0,1788.0,1783.0,1.0,0.0,4.0
1,139,3306.0,3630.0,3072.0,2059.0,1302.0,3153.0,6.0,2361.0,2825.0,2527.0,8.0,1.0,93.0
2,12,1374.0,1261.0,1151.0,1164.0,355.0,1109.0,9.0,1051.0,1165.0,1227.0,20.0,37.0,12.0
3,60,4391.0,4116.0,3767.0,3584.0,3016.0,4013.0,0.0,3618.0,3898.0,3356.0,0.0,0.0,2.0
4,157,7551.0,7289.0,6802.0,6600.0,6163.0,6989.0,12.0,6603.0,6931.0,6465.0,12.0,14.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4023,4606,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0
4024,132440,11.0,11.0,10.0,9.0,11.0,10.0,0.0,5.0,7.0,11.0,11.0,0.0,9.0
4025,133920,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4026,133921,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4027,127202,1.0,4.0,4.0,2.0,2.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
def get_features_by_entity(
    data: pd.DataFrame,
    name: str,
    label: list[Any],
    fill: list[Any],
) -> pd.DataFrame:
    """
    Processes all data, grouped by name (submiitter or brokerage logo).
    Calculated correct submissions, total submissions, and filled submissions.
    """
    df_metrics = pd.DataFrame()
    ids = list(data[name].unique())
    if np.NaN in ids:
        ids.remove(np.NaN)
    df_metrics[name] = ids

    for col in label:
        logger.info(f"Get Correct Count: {col}")

        # temp1 = data[[name, col]].copy()
        # temp1[col] = data[col].replace(-1, 0)
        # s_correct = temp1.groupby(name)[col].sum()

        s_correct = data[data[col].isin([1])].groupby(name)[col].count()

        s_correct_dict = s_correct.to_dict()
        df_metrics[f"{col.replace('label', 'correct')}_{name}"] = (
            df_metrics[name].map(s_correct_dict).fillna(0)
        )
        # df_metrics = df_metrics.merge(
        #     right=s_correct,
        #     how="inner",
        #     left_on=name,
        #     right_index=True,
        # )

        del s_correct
        # del temp1
        del s_correct_dict
        gc.collect()

        logger.info(f"Get Total Count: {col}")
        # temp2 = data[[name, col]].copy()
        # temp2[col] = data[col].replace([-1, 0], [1, 1])
        # s_total = temp2.groupby(name)[col].sum()

        s_total = data.groupby(name)[col].count()

        s_total_dict = s_total.to_dict()
        df_metrics[f"{col.replace('label', 'total')}_{name}"] = (
            df_metrics[name].map(s_total_dict).fillna(0)
        )

        # df_metrics = df_metrics.merge(
        #     right=s_total,
        #     how="inner",
        #     left_on=name,
        #     right_index=True,
        # )

        del s_total
        # del temp2
        del s_total_dict
        gc.collect()

    for col in fill:
        logger.info(f"Get Correct Count: {col}")
        # temp3 = data[[name, col]].copy()
        # temp3[col] = temp3[col].replace([-1, 0, 1], [0, 1, 1])
        # s_filled = temp3.groupby(name)[col].sum()

        s_filled = data[data[col].isin([0, 1])].groupby(name)[col].count()
        s_filled_dict = s_filled.to_dict()
        df_metrics[f"{col}_{name}"] = df_metrics[name].map(s_filled).fillna(0)

        # df_metrics = df_metrics.merge(
        #     right=s_filled,
        #     how="inner",
        #     left_on=name,
        #     right_index=True,
        # )

        del s_filled
        # del temp3
        del s_filled_dict
        gc.collect()

    cols = list(df_metrics.columns)
    cols.remove(name)

    df_metrics = df_metrics[[name] + sorted(cols)]

    return df_metrics